.font-bold {
  font-weight: bold;
}

.text-decoration-none,
.nav__link {
  text-decoration: none;
}

.title-green {
  color: rgb(95, 95, 95);
}

.h-100-p {
  height: 100%;
}

.flex-center-full {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text--red{
  color: var(--color-rojo) !important;
}

.text--red:hover{
  color: var(--color-black) ;
  transition: color 0.14s ease-in-out;
}

.obligatio::before {
  content: "*";
  color: #ff5d5d;
}

.style-border {
  background: white;
  padding: 1rem;
  /*border-radius: 1rem;*/
  border: solid 1px #e8d8ff;
  margin: 1rem;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.flex-end-full {
  display: flex;
  justify-content: end;
}

.flex-end-full {
  display: flex;
  justify-content: end;
}

.standard-white-background-borders{
  background: white;
  padding: 1rem; 
  border-radius: 1rem;
  border: solid 1px #e8d8ff;
  margin: 1rem;
}

.hidden {
  display: none;
}

.w-ajustable{
    width: clamp(1000px, 20vw, 300px);
}