button {
  border-radius: 0rem !important;
  background: none;
}
.button-r {
  background: var(--color-azul);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
}

.button-r > a {
  color: white;
}

.button--back {
  background: none;
  border: none;
}

.form__button--submit {
  background: var(--color-azul);
}

[type="submit"] {
  padding: 0.5rem 2rem;
  color: white;
  border: 0rem;
}

.button--azul{
  background: var(--color-azul);
}