button {
  border-radius: 0rem !important;
  background: none;
}
.button-r {
  background: var(--color-azul);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
}

.button-r > a {
  color: white;
}

.button--back {
  background: none;
  border: none;
}

.form__button--submit {
  background: var(--color-azul);
}

[type="submit"] {
  padding: 0.5rem 2rem;
  color: white;
  border: 0rem;
}

.button--azul {
  background: var(--color-azul);
}

.button--azul {
  background: var(--color-azul);
  padding: 0.5rem 1.5rem;
  color: white;
  border: 0rem;
}

.button--black {
  background: var(--color-negro);
  padding: 0.5rem 1.5rem;
  color: white;
  border: 0rem;
}

.button--orange {
  background: #a58f47;
  padding: 0.5rem 1.5rem;
  color: white;
  border: 0rem;
}

.button--delete {
  background: #ff4b4b;
  color: white;
  border: none;
  padding: 0.5rem;
}

.button--modify {
  background: #4aa448;
  color: white;
  border: none;
  padding: 0.5rem;
}

.button--cancel {
  background: #565d62;
  color: white;
  border: none;
  padding: 0.5rem;
}

.button--progress{
  background-color: var(--color-azul);
  color: white;
  border: none;
  padding: 0.5rem;
}

.button--search{ 
    color: inherit;
}