header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
  background: var(--color-azul);
}

.logo{
  font-weight: bold ;
  color: white !important;
}

.profile{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 0.5rem;
  color: white;
}