body {
  display: block;
  height: 100%;
  background: #e8e8e8 !important;
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex-grow: 2 !important;
}

.full-heigh {
  height: 100%;
}

:root {
  --color-azul: rgb(56, 141, 172);
  --color-rosado: rgb(236, 49, 95);
  --color-negro: rgb(47, 47, 47);
  --color-verde: #2fac2f;
  --color-rojo:rgb(242, 69, 69);
}

.text-black {
  color: var(--color-negro) ;
}
